#home {
    background: #363636;
    color: white
}

ul a{
    margin: 5px;
}

.box {
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5;
}

footer p a {
    margin: 5px 15px;
    color: #ffc107;
}

footer p a:hover {
    color: #2e2e2d;
    text-decoration: none;
}

.hidden{
    visibility: hidden;
}